
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.paratag{
    font-family: 'Josefin Sans', sans-serif;
}
/* header */ 
.header-title{
    color:whitesmoke !important;
    border-bottom:2px solid transparent;
}
.header-title:hover{
    color:whitesmoke !important;
    border-bottom: 2px solid whitesmoke ;
}
.header-line{
    background-color: #1a1244 ;
}

.portfolio{
    margin-top:80px !important
}
/* home parts*/
.home{
    word-wrap: wrap;
    color:whitesmoke;
}

.button{
    color:whitesmoke;
}
.button:hover{
    color:whitesmoke;
    background-color:#1a1244
}
@media(max-width:500px) {

    .main-images{
        text-align: center;
        width:350px;
        height:350px;
    }
}

/* about-me */
 .about{  
    align-items: center;
    color:whitesmoke;
}
@media(max-width:1000px) {

    .code-images{
        text-align: center;
        width:400px;
        height:400px;
    }
}

@media(max-width:650px) {

    .code-images{
        text-align: center;
        width:450px;
        height:450px;
    }
} 
@media(max-width:500px) {

    .code-images{
        text-align: center;
        width:350px;
        height:350px;
    }
} 


/*skiil  */

@media(max-width:900px) {

    .skills-div{
        width:500px;
    }
    .progressbar{
        max-width:360px;
    }
}
@media(max-width:750px) {

    .skills-div{
        width:400px;
    }
    .progressbar{
        max-width:300px;
    }
}
@media(max-width:580px) {

    .skills-div{
        width:350px;
    }
    .progressbar{
        max-width:200px;
    }
}
@media(max-width:400px) {

    .skills-div{
        width:300px;
    }
    .progressbar{
        max-width:140px;
    }
}

/* projcts */
@media(max-width:700px) {

    .project-img{
        width:400px;
    }
}

/* progressBAR */
.bg-SOME_NAME{
    background-color: #1a1244 !important;
}
/* contact-me */
.contact-me{
    margin-top:80px !important
}